body{
    padding-top: 0%;
    background-color: rgb(45, 45, 45);
}

#wordArray{
    display: none;
}
#lineNumber{
    display: none;
}
#won{
    display: none;
}

.row{
    height: 9vh;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.words-greed{
    background-color: rgb(45, 45, 45);
    height: 65vh;
    color: aliceblue;
    padding-top: 3%;
}

.key{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-left: 2px;
    width: 6vh;
    height: 8vh;
    color: aliceblue;
    background-color: rgb(109, 106, 106);
    border-radius: 0.5vh;
}

.keyboard{
    height: 30vh;
    background-color: rgb(45, 45, 45);
    padding-top: 1%;
}

.letter-box{
    display: flex;
    width: 7vh;
    height: 7vh;
    border-color:darkgrey;
    border-style: solid;
    border-radius: 1vh;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-bottom: 1px;
}

.big{
    width: 10vh;
}

nav{
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
    border-radius: 3px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

#reveal-word{
    visibility: hidden;
    margin: 1vh;
    margin-bottom: 2vh;
}

#word{
    font-size: x-large;
}
